/* CV Body layout */
.cv-body {
    font-family: "Red Hat Display";
    display: grid;
    grid-template-columns: 75fr 35fr;
    padding: 15px;
    height: 100%;
}

.cv-body>* {
    display: flex;
    flex-direction: column;
    /* justify-content: space-between; */
    justify-content: flex-start;
    height: 100%;
}

section {
    border: 2px solid #ddd;
    border-radius: 15px;
    /* border-left: 3px solid #aaa; */
    padding-inline: 15px;
    padding-block: 15px;
}

section:not(:last-of-type) {
    margin-bottom: 10px;
}

section:last-of-type {
    height: auto;
}

.cv-body>*:not(:first-child) {
    margin-left: 10px;
}


/* Titles */
h2 {
    color: #333;
    font-size: 2em;
    line-height: 1.1em;
    font-weight: bold;
    margin: 0px;
    margin-bottom: 15px;
    text-align: center;
}

h3 {
    color: #333;
    font-size: 1.3em;
    line-height: 1.1em;
    font-weight: bold;
    margin: 0px;
}

.cv-body p {
    color: #666;
    margin: 0px;
    margin-bottom: 5px;
}

.cv-body p a {
    color: #666 !important;
    text-decoration: none;
}

.cv-body .icon {
    color: black;
    margin-right: 10px;
    font-size: 23px;
}

p.date {
    color: #AAA;
    font-style: italic;
    margin: 0;
    text-align: right;
    line-height: 1em;
}



/* Sections */
.section .title-elem {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
}

.section .item:not(:first-of-type) {
    margin-top: 14px;
}

.section .title-elem>*:not(:first-child) {
    text-align: right;
    margin-left: 10px;
}


/* Sections : education */
.section-education .education-degree {
    font-weight: 700;
    font-size: 13px;
    margin-top: 5px;
}

.section-education .education-specialization:not(:empty) {
    margin-top: -5px;
    line-height: 1.1em;
}

.section-education .education-skills {
    margin: 0;
    font-style: italic;
    text-align: justify;
    font-size: smaller;
    color: #888;
    line-height: 1.3em;
}


/* Sections : experience */
.section-experience .experience-position {
    font-weight: 700;
}


/* Sections : language */
.language-item a {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.language-item a .title-elem {
    justify-content: flex-start;
}

.language-proficiency {
    margin-bottom: 2px !important;
}

.language-certificate {
    font-size: 0.9em;
    font-weight: bold;
    font-style: italic;
    text-align: left;
    margin-bottom: 8px !important;
}

.language-certificate::before {
    /* font awesome icon fa-certificate */
    font-family: "Font Awesome 7 Pro";
    font-style: normal;
    content: "\f5f3";
    margin-left: 5px;
    margin-right: 5px;
}

/* .section.section-languages .item {
    margin-top: 0;
}

.section.section-languages .item:not(:last-of-type) {
    margin-bottom: 5px;
    /* background-color: red; */
} */
